h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  hr {
    margin-bottom: 20px;
  }
  
  button.ui.button.primary {
    margin-bottom: 20px;
  }
  
  .update-time {
    font-size: small;
  }
  