.Home {
    .appheader{
        text-align: left;
        font-size: 24px;
        padding: 5px;
        margin-left: 20px;
        font-weight: 800;
        color: black;
        padding-top: 20px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .card {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: #c7cdcf;
        border: none;
        border-radius: 15px;
        box-shadow: 0 3px #999;

        &:hover {
            background-color: #9c9fa6;
        }

        &:active {
            background-color: #3e8e41;
            box-shadow: 0 3px #666;
            transform: translateY(2px);
        }
    }
}
