.search-component {
  padding-left: 10px;
  h2 {
    text-align: left; // Align text to the left
    margin: 0; // Remove default margin
    padding-left: 10px;
  }
  .select-input {
    width: 200px; // adjust this value as needed
  }

  .input-container {
    display: flex;
    gap: 10px;
  }
  .header-container {
    display: flex; // Use flex layout
    align-items: center; // Vertically align items in the middle
    gap: 20px; // Space between items
    height: 70px;
    .cards-container {
      display: flex; // Use flex layout
      flex-wrap: nowrap; // Don't wrap items to next line
      overflow-x: auto; // Enable horizontal scrolling if necessary
      gap: 10px; // Space between items
    }
  }


  .card {
    position: relative;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    div {
      padding-left: 10px;
    }

    &.highlight {
      animation-name: highlight;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      
      @keyframes highlight {
        from { background-color: #ff0000; }
        to { background-color: transparent; }
      }
    }

    .delete-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0px;
      border-radius: 30%;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
      
      i.icon {
        margin: 0 !important; // override Semantic UI's default icon margin
        font-size: 12px !important; // adjust this value as needed
      }
    }
  }
.buttonDiv{
  height: 40px;
  width: 40px;
  display: flex;
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}


  // rest of your styles...
}
